* {
    padding: 0;
    margin: 0; }



.navbar-default {
    background-image: url("../images/background_hat.png");
    background-size: cover;
    box-shadow: none; }

section:first-of-type {
    background-image: url("../images/background_hat.png");
    background-size: cover; }

.navbar {
    border: none;
    margin: 0px;
}

.navbar-default .navbar-nav  a {
    color: #4d4d4d;
    font-family: 'Asap', sans-serif; }

header nav ul li:after {
    content: "";
    display: block;
    height: 2px;
    background-color: transparent;
    width: 43px;
    position: relative;
    top:4px;
    margin: auto; }

header nav ul li:hover:after {
    background-color: #878787; }


.luis_content h2{
    font-size: 90px;
    font-family: 'Asap', sans-serif;
}
.luis_content h3{
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    margin-top: -10px;
    font-size: 22px;
    color: #999999;
}
.luis_content{
    margin-top: 50px;
}
.luis_content a{
    text-decoration: none;
    font-family: 'Asap', sans-serif; }

.know_more{
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    background-color: white;
    height: 49px;
    width: 160px;

}
.hire_me{
    margin-left: 15px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    height: 50px;
    width: 160px;
}
.luis_content p{
    font-size: 16px;
    margin: 15px;
    color: #4d4d4d;
}
.hero img{
    width: 100%;
}

/*Second section*/


.know_more_about_me h1 {
    color: #7b7b7b;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 700; }

.know_more_about_me p {
    font-size: 16px;
    color: #4d4d4d;
    font-family: 'Asap', sans-serif; }

.know_more_about_me h2 {
    font-size: 22px;
    color: #4d4d4d; }

.blog_content {
    margin-top: 110px; }

.download_button {
    margin-top: 40px;
    text-align: center;
    border: 1px solid black;
    height: 48px;
    width: 243px;
    margin-bottom: 124px; }

.download_button p:last-of-type {
    margin: 15px;
    font-size: 16px; }

hr {
    border: none;
    background-color: #7a7a7a;
    color: #7a7a7a;
    height: 4px;
    width: 60px; }

/*Third section*/

.services hr, .my_skills hr, .portfolio hr, .management hr {
    margin: auto;
    border: none;
    background-color: #7a7a7a;
    color: #7a7a7a;
    height: 4px;
    width: 60px;
    margin-top: 119px; }

.services {
    background-color: #f6f6f6;
    padding-bottom: 114px; }



.services h1, .my_skills h1, .portfolio h1, .management h1 {
    text-align: center;
    color: #6f6f6f;
    padding-bottom: 60px;
    font-family: 'Asap', sans-serif;
    font-weight: 700; }

.list_of_services {
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    color: #4d4d4d; }


.second_list_of_services {
    margin-top: 89px; }


/*fourth_section*/


.my_skills img {
    width: 100%;
    margin-top: 62px;
    padding-bottom: 128px; }

.portfolio {
    background-color: #f6f6f6; }

.load_more_portfolio {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: white;
    height: 50px;
    width: 190px;
    margin-bottom: 124px; }

.load_more_portfolio p {
    padding-top: 15px;
    font-size: 16px;
    color: #000000; }

.load_more_portfolio a {
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-weight: 500; }

.second_part_of_portfolio {
    margin-top: 30px; }
